@import './_background.sass'
@import './_nav.sass'
@import './_tabs.sass'
@import './_variables.sass'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'




html
    scroll-behavior: smooth

body
    font-family: "Open Sans"
    src: url ("/git_bootstrap_les_chefs/fonts/Flaticon.woff")

h1
    font-family: 'Courgette', cursive  
    


.bordure
    border-bottom: solid 2px
    border-color: whithe


.form-control
    width: auto

.bordure
    border-bottom: 1%
    border-color: white
.bordure-2
    border: solid 3px
    border-color: aliceblue
    border-radius: 1.25rem
.bordure-femme
    border: solid 5px !important
    border-color: white
.bordure-cards
    border-radius: 1.25rem
hr
    width: 75%
    background-color: white
footer
    background-position: 60%

.img-fluide
    max-width: 100%
.bordure-3
    border: solid 1px
    border-color: aliceblue
    border-radius: 1.25rem
.bordure-femme-rond
    border: solid 4px
    border-color: aliceblue
.border-bouton
    border: solid 1px
    border-color: white
.color-alice
    background-color: aliceblue

.marge-p
    margin-right: 200px
    margin-left: 200px
.test
    border-right: solid 20px

.div-rose-fin
    height: 10vh
a:hover
    text-decoration: none !important